# Default ignored files
/shelf/
/workspace.xml

# From https://betterstack.com/community/questions/gitignore-template-for-android-studio-project/ by Better Stack Team, downloaded 2024-10-20
# Gradle files
.gradle/
build/
.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35-698a9933-6253-422f-825c-0bbbf1f31b37/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class


# Local configuration fil
local.properties

# Android Studio and IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Android Studio cache
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
app/build/
*/build/

# Proguard configuration files
proguard-rules.pro

# Miscellaneous
*.apk
*.ap_
*.dex
*.class

# Android NDK
ndkBuild/
local.properties


