<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>         
        
        <!-- Profiles Activity -->
        <activity android:name="ProfilesActivity" />

        <!-- User Profile Activity -->
        <activity android:name="UserProfileActivity" />

        <!-- Facility Profile Activity -->
        <activity android:name="FacilityProfileActivity" />

        <!-- Events Activity -->
        <activity android:name="EventsActivity" />

        <!-- QR Scanner Activity -->
        <activity android:name="QRScannerActivity" />

        <!-- Events Joined Activity -->
        <activity android:name="EventsJoinedActivity" />

        <!-- Create Event Activity -->
        <activity android:name="CreateEventActivity" />

        <!-- Manage Events Activity -->
        <activity android:name="ManageEventsActivity" />

        <!-- Waiting List Activity -->
        <activity android:name="WaitingListActivity" />

        <!-- Notifications Activity -->
        <activity android:name="NotificationsActivity" />

        <!-- View Event Activity -->
        <activity android:name="ViewEventActivity" />
        
    </application>

</manifest>
